# مجلدات dependencies
**/node_modules/
node_modules/

# ملفات البيئة (ممنوع رفعها)
**/.env
.env

# ملفات lock
**/package-lock.json
package-lock.json

# إعدادات المحرر
.vscode/
.idea/

# ملفات النظام
.DS_Store
Thumbs.db